.header__resource {
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .header__resource {
    margin-bottom: 6px;
  }
}

.header__resource:first-of-type {
  margin-bottom: 0;
}

.header__resource:last-of-type {
  margin-bottom: 0;
}
